{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block content %}
    <div class="col-md-12">
        <h2>Your shopping cart
            <span class="badge badge-secondary pull-right">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        My order:
                        <a href="{% url 'cart:cart_detail' %}" style="color: #fff">
                        {{ total_items }} item {{ total_items|pluralize }}, € {{ cart.get_total_price }}
                        </a>
                    {% else %}
                        Your cart is empty
                    {% endif %}
                {% endwith %}
        </span>
        </h2>
        <table class="table table-striped table-hover">
            <thead style="background-color: #5AC8FA">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get__absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                                     alt="..." style="height: 130px; width: auto">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="Update" class="btn btn-info">
                            </form>
                        </td>
                        <td>
                            <a href="{% url "cart:cart_remove" product.id %}">Remove</a>
                        </td>
                        <td>€ {{ item.price }}</td>
                        <td>€ {{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr style="background-color: #5AC8FA">
                <td><b>Total</b></td>
                <td colspan="4"></td>
                <td colspan="num"><b>€ {{ cart.get_total_price }}</b></td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'cart:proceed-to-checkout' %}" class="btn btn-primary">Proceed to checkout <i class="fas fa-credit-card"></i></a>
    </div>
{% endblock %}