{% extends "base.html" %} {% load static %} {% block content %}

<div class="row">
  <div class="col-md-12 team">
    <img
      src="{% static '/images/team.jpg' %}"
      alt="team page"
      class="img-fluid"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h1>Business Development Team</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
      excepturi fuga qui possimus. Sint voluptate quibusdam aperiam dolore
      veniam dolorem ab quaerat corrupti. Nobis ipsum maxime dignissimos
      excepturi quo corporis.
    </p>
  </div>
  <div class="col-md-6">
    <h1>Technical Team</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nemo
      aperiam facere fuga modi architecto quisquam commodi, maxime aspernatur
      iusto doloribus similique minus tempore. Aut recusandae expedita tempore
      repellendus sit.
    </p>
  </div>
</div>
{% endblock %}
