{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block content %}
    <div class="row data-entry">
        <div class="col-lg-12">
            <h1>Adding new product</h1>
            <div class="alert alert-danger alert-dismissable fade show" role='alert'>
                This should be done by an admin
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'inventory:add_product'%}" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <table border='1' class='table'>
                {{ backend_form.as_table }}
                </table>
                <br/>
                <!-- <div class="form-group">
                    <label for="name">Name of Product</label>
                    <input name='name' type="text" class='form-control' placeholder="Enter name of product"> 
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input name='description' type="text" class='form-control' placeholder="Enter description of product"> 
                </div> -->

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>  
    {% if posted %}  
    <div class="row">
        <div class="col-lg-12">
            {% if posted.errors %}
                Errors: {{ posted.errors }}
            {% else %}

            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <!-- 
        an example where versions of jQuery in a plugin work for some and doesn't for others, 
        we override the settings here 
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
    <script>
        $(function(){
            $('button.close').click(function(evt){
                evt.preventDefault();
                $('div.alert-danger').fadeOut();
            });
        });
    </script>
{% endblock %}
    