{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block content %}
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'inventory:catalog' %}">Catalog</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-8">
        <img src="{{ product.image.url }}" alt="" class="rounded float-left">
    </div>
    <div class="col-md-4 product">
        <h2 class="text-center">{{ product.name }}</h2>
        <div class="price">
            €{{ product.price }}
        </div>
        <div class="description">
            {{ product.description|safe|linebreaksbr }}
        </div>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ cart_product_form }}
            <button class="btn btn-primary btn-block"><i class="fas fa-cart-plus"></i>Add to cart</button>
        </form>

    </div>
{% endblock %}