<!-- first tag here -->
{% extends "base.html" %}
{% load cloudinary %}
<!-- second tag to register static files -->
{% load static %}

<!-- start pluging your content in here -->
{% block content %}

<h2 class="break-corner">New Arrivals</h2>

<div class="row">
  <div class="col-md-3">
    <div class="product-top">
      <img src="{% static '/images/3.jpg' %}" alt="lady boots" />
      <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Quick shop">
          <i class="fas fa-eye"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to wishlist">
          <i class="fas fa-heart"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to Cart">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="product-bottom text-center">
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i> <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <h3>Rock 'em boots</h3>
      <h5>€ 250</h5>
    </div>
  </div>

  <div class="col-md-3">
    <div class="product-top">
      <img src="{% static '/images/5.jpg' %}" alt="lady boots" />
      <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Quick shop">
          <i class="fas fa-eye"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to wishlist">
          <i class="fas fa-heart"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to Cart">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="product-bottom text-center">
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="fas fa-star"></i> <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <h3>Classic Man boots</h3>
      <h5>€ 150</h5>
    </div>
  </div>
  <div class="col-md-3">
    <div class="product-top">
      <img src="{% static '/images/6.jpg' %}" alt="mocasins" />
      <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Quick shop">
          <i class="fas fa-eye"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to wishlist">
          <i class="fas fa-heart"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to Cart">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="product-bottom text-center">
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="fas fa-star"></i> <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <h3>Rock a moc!</h3>
      <h5>€ 250</h5>
    </div>
  </div>
  <div class="col-md-3">
    <div class="product-top">
      <img src="{% static '/images/7.jpg' %}" alt="lady boots" />
      <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Quick shop">
          <i class="fas fa-eye"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to wishlist">
          <i class="fas fa-heart"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Add to Cart">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="product-bottom text-center">
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="far fa-star"></i> <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <h3>Gentle city look</h3>
      <h5>€ 110</h5>
    </div>
  </div>
</div>
<br />
<h1 class="text-center">&#9924; Black Friday Deals &#9924;</h1>
<div class="row">    
    <div id="snowflakeContainer">
        <p class="snowflake">*</p>
    </div>  
</div>
<br />
<div class="row">
  <div class="col-md-5">
    <div id="carouselExampleControls" class="carousel slide">
      <div class="xcarousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="{%static '/images/1.jpg'%}"
            alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="{%static '/images/2.jpg'%}"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="{%static '/images/3.jpg'%}"
            alt="Third slide"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-md-7">
    <p class="new-arrival text-center">NEW</p>
    <h2>Amazing Shoes</h2>
    <p>Product Code: SMARTCODING</p>
    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
    <p class="price">EUR 30</p>
    <p><b>Availability:</b>LIMITED</p>
    <label for="">Quantity</label>
    <p><b>Brand:</b> NIKE</p>
    <input type="text" value="1" class="qty" />
    <button class="btn btn-default cart">Add to cart</button>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
      
    <h3 class="headline">FRI FRAKT OCH FRIA RETURER FÖR ALLA</h3>
    <p class="text">
        {% cloudinary "officialchucknorrispage" ICON_EFFECTS %}</br>
      Erbjudandet aktiveras i kassan. Fri frakt gäller fram till 2018-12-24 och
      fria returer till 2019-01-31.
    </p>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{block.super}}
<script src="{% static '/js/fallingsnow_v6.js' %}"></script>
{% endblock %}