{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
{% for product in products %}
    <h2>{{product.name}}</h2>
    <img src="{{product.image.url}}"> 
    <hr><br/>
{% endfor %}
{% endblock %}