{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="Description" content="Smartcoding Practice eShop">
    <meta name="theme-color">
    <title>Shop</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    {% block styles %}
    {% endblock %}
</head>
<body>
<div class="container">
    <ul class="navigation">
        <li class='branding'><a href="{% url 'index' %}"><img src="{% static '/images/smart-logo.png' %}" alt=""/> eShop</a>
        </li>
        <li><a href="#">Dam</a></li>
        <li><a href="#">Herr</a></li>
        <li><a href="#">Barn</a></li>
        <li><a href="{% url 'inventory:catalog' %}">Catalog</a></li>
        <li><a href="{% url 'team' %}">Team</a></li>
        <li><a href="{% url 'cart:cart_detail' %}" style="width: 100px;">
            <i class="fas fa-shopping-cart"></i>
            {% if cart|length > 0 %}
                <div class="badge badge-success">{{ cart|length }}</div>
            {% endif %}
        </a></li>
    </ul>

    <div class="row">
        {% block content %} {% endblock %}
    </div>
</div>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text-muted">Smartcoding eShop&copy; 2018</span>
            </div>
        </div>

    </div>
</footer>
<!-- You can add more custom javascript code -->
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
