@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic");

body {
    background: #fff6f6;
}

li.branding a {
    color: #EA3E81 !important;
    text-transform: none !important;
}

li.branding a img {
    height: 20px;
}

.container {
    margin-top: 10%;
    width: 100%;
    font-family: "Carrois Gothic", sans-serif;
    letter-spacing: 1px;
}

.row {
    width: 100%;
}

.product-top img {
    width: 100%;
    height: 185px;
    border-radius: 1%;
    margin-bottom: 2px;
}

h2.break-corner {
    background: #0062cc;
    color: #fff;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}

h2.break-corner::after {
    content: "";
    border-top: 40px solid #0062cc;
    border-right: 40px solid transparent;
    position: relative;
    left: 56px;
    top: 35px;
}

.new-arrival {
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.col-md-7 h2 {
    color: #555;
}

.price {
    color: #F1A0CB;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.qty {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.cart {
    background: #F1A0CB;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
}

.product-bottom .fas,
.product-bottom .far {
    color: #28a745;
    font-size: 10px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}

.overlay {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.product-top:hover .overlay {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.overlay .far,
.overlay .fas {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 5%;
}

.overlay .btn-secondary {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

ul.navigation {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul.navigation li {
    list-style: none;
}

ul.navigation li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    transition: 0.5s;
}

ul.navigation li a:hover {
    color: #fff;
}

ul.navigation li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

ul.navigation li a:hover:before {
    transform: scaleY(1.2);
    opacity: 1;
}

ul.navigation li a:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scaleY(0);
    transition: 0.5s;
    z-index: -1;
}

ul.navigation li a:hover::after {
    transform: scaleY(1);
}

.team img {
    height: 70vh !important;
    width: 100%;
}

.headline {
    font-size: 35px;
    text-align: center;
    line-height: 36px;
}

.text {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin: 5px auto 0;
    max-width: 74%;
}

/*  courtesy of https://www.kirupa.com/html5/the_falling_snow_effect.htm */

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}

.snowflake:hover {
    cursor: default;
}

.data-entry {
    background: #f7f4f4;
    padding: 5px;
}

.price {
    font-size: 50px;
    color: #e74c3c;
}

.description {
    font-size: 20px;
}

.product {
    background: #fff;
    padding: 5px;
}

/* CSS for Credit Card Payment form */

.cardly {
    display: flex;
}

.thecard {
    width: 365px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #49425a;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 black;
}

.top-card {
    display: flex;
}

.card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    color: #ebf1eb;
}

.card-info div {
    margin: 0.3rem 0;
}

.card-info .card-number {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

.circle {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    background: #c54177;
}

.circle:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 15px 10px;
    border-radius: 50%;
    background: #e0bf73;
}

.card-title {
    margin: 20px;
    margin-left: -40px;
    z-index: 1;
    color: #ebf1eb;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date select {
    width: 46%;
}

.small {
    display: flex;
}

.small p {
    width: 200px;
    margin-left: 1rem;
    align-self: center;
}

/*end credit card form */

/*stripe card*/
.StripeElement {
    width: 100%;
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


/*end stripe card*/

/* 
TODO 
Media queries; we can keep testing on different devices and improving the appearance
For now, on an iphone and a 15" mac, it looks relatively okay
 */
@media only screen and (max-width: 600px) {
    .container {
        margin-top: 60%;
    }

    ul.navigation {
        top: 17%;
        display: block;
    }

    ul.navigation li a {
        display: block;
        margin: 0;
    }

    ul.navigation li a:before {
        content: "";
        position: absolute;
        /* top: 0; */
        /* left: 0; */
        width: 100%;
        height: 100%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.5s;
    }
}
